.galaxy-body{
    background: url(https://wallpapersite.com/images/wallpapers/stars-3840x2160-galaxy-4k-6362.jpg) 50% 50% / cover no-repeat;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    z-index: -99999;
    background-attachment: fixed;
}