.project-body{
    background: url(https://images.alphacoders.com/786/thumb-1920-786599.png) 50% 50% / cover no-repeat;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    z-index: -99999;
    background-attachment: fixed;
    
}

.info{
    text-align: center;
}

.thanks{
    text-align: center;
    color: white;
    display: inline-block;
    width: 50%;  
}

.hand{
    @media(max-width: 768px){
        height: 200px ;
    }
    @media(max-width: 411px){
        height: 140px;
    }
}