.star-body{
    background: url(https://images.wallpaperscraft.ru/image/zvezdy_mlechnyj_put_prostranstvo_kosmos_116893_3840x2400.jpg) 50% 50% / cover no-repeat;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    z-index: -99999;
    background-attachment: fixed;
}